.banner{
    margin: 12% auto;
    position: relative;

    &__body-wrap{
        width: 573px;
        height: 413px;
        padding: 20px;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0, -50%);
        background: #FFFFFF;
    }

    img{
        max-width: 1117px;
        width: 100%;
        height: auto;
    }

    &__body{
        border: 1px solid #434242;
        padding: 44px 67px 49px 51px;

        p{
            font-size: 18px;
            line-height: 22px;
            margin: 0px 0px 10px 0px;
            color: #000000;
        }
    }
}


@media (max-width: 950px){

    .banner{
        margin: 12% auto 110px;

        &__body-wrap{
            position: relative;
            top: 0;
            transform: translate(0, 0);
            width: 100%;
            height: auto;
        }

        &__body{
            padding: 40px 50px 0 50px;
        }
    }
}

@media (max-width: 530px){

    .banner{
        margin: 84px auto 110px;

        img{
            height: 255px;
        }

        &__body-wrap{
            padding: 25px 0 0;
        }

        &__body{
            border: 0;
            padding: 0;

            p{
                font-size: 12px;
                padding: 0 50px;
            }
        }
    }
}