.contacts{
    display: flex;
    margin: 0px 0px 219px 0px;

    &__body{
        width: 498px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px 0px 0px 0px;
    }

    &__adress{
        font-size: 20px;
        line-height: 26px;
        margin: 0px 20px 20px 0px;
    }

    &__timing{
        font-size: 20px;
        line-height: 140.5%;
        text-transform: uppercase;
        color: #000000;
    }

    &__information{
        margin: 0px 0px 70px 0px;
        a{
            font-weight: bold;
            font-size: 24px;
            color: #434242;
            margin: 30px 0px 0px 0px;
            display: block;
            padding: 0px 0px 0px 50px;
        }
    }

    &__tel{
        background: url(../images/tel.svg) no-repeat;
        background-size: contain;
    }

    &__email{
        background: url(../images/mail.svg) no-repeat;
        background-size: contain;
    }

    &__img-wrap{
        position: relative;
    }

    &__img{
        max-width: 945px;
        min-width: 255px;
        width: 100%;
        height: auto;
    }

    &__plashka-map{
        position: absolute;
        top: 26%;
        right: 38%;
        width: 12%;
    }
}


@media (max-width: 1500px){

    .contacts{
        padding: 0 20px;
    }
}

@media (max-width: 1100px){

    .contacts{
        flex-direction: column;
        position: relative;
        margin: 0px 0px 169px 0px;

        &__adress{
            width: 380px;
            text-align: left;
            margin: 0 auto 20px;
        }

        &__timing{
            width: 380px;
            text-align: left;
            margin: 0 auto;
        }

        &__body{
            width: 100%;
            padding: 0;
            text-align: center;
        }

        &__information{
            width: 380px;
            margin: 0 auto 30px;
        }

        &__img{
            max-width: 1100px;
            width: 100%;
            height: auto;
        }
    }
}

@media (max-width: 500px){

    .contacts{

        &__body{
            text-align: left;
        }

        &__adress,
        &__timing{
            font-size: 16px;
        }

        &__information{
            margin: 0 auto 20px;

            a{
                font-size: 18px;
            }
        } 
    }
}